<html>
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <div class="container">
            <header>
                <a href="/"><img src="/images/favicon.png" style='width:45px;height:30px;'></a>
                <div>
                    <a href="/login">Login</a>
                    |
                    <a href="/signup">Signup </a>
                </div>
            </header>
            
            <section>
                <div class="container">
                    <div class="box1">
                        
                    </div>
                </div>
            </section>
        </div>
    </body>
    
    <footer>
        <% include ./partials/footer %>
    </footer>
</html>