<div class="cells">
<div class="cell">
    <h3>Serviços</h3>
    <br>
    <p>Aulas pelo youtube</p>
    <br>
    <p>Aulas particulares online</p>
    <br>
    <p>Desenvolvimento de projetos</p>
</div>
<div class="cell">
    <h3>Contatos</h3>
    <br>
    <a href="https://www.facebook.com/henrique.lyra">Facebook</a>
    <br><br>
    <a href="https://www.instagram.com/hlyras3/">Instagram</a>
    <br><br>
    <a href="https://www.youtube.com/channel/UC8Uo2uz4tI0rgwZvBdbYLMg">Youtube</a>
    <br><br>
    <p>(33)99999-9961</p>
    <br>
    <p>sigaarota@gmail.com</p>
</div>
<div class="cell">
    <h3>Sobre</h3>
    <br>
    <p>Este é um projeto para ajudar iniciantes na programação a ter uma direção de como se desenvolver na área. Quais conceitos aprender, quais tecnologias são melhores para o objetivo desejado e como criar seus próprios projetos para portifólio e empreendimentos.</p>
</div>
</div>

<!-- Copyright -->
<div class='copyright'>
    &copy; Siga a Rota JS. All rights reserved. 
</div>
<script src="/javascripts/essentials/jquery-3.4.0.min.js"></script>
<script src="/javascripts/scripts/ajax.js"></script>